####################################################
# Linux, NGINX, MySQL, PHP
####################################################
---
- hosts: localhost
  become: true
  vars_files:
    - vars/default.yml

  tasks:
    # Prerequisites Installation
    - name: Install Packages
      apt: name={{ item }} update_cache=yes state=latest
      loop: [ 'nginx', 'php-fpm', 'php-mysql']
      tags: "prerequisites"
    
    # Nginx Configuration
    - name: Copy Nginx config
      template: 
        src: "files/default.j2" 
        dest: "/etc/nginx/sites-available/{{ http_conf }}"
        owner: root
        group: root
        mode: 0644
        backup: true
      tags: "nginx"

    - name: Enable new site
      file: 
        src: "/etc/nginx/sites-available/{{ http_conf }}" 
        dest: "/etc/nginx/sites-enabled/{{ http_conf }}"
        state: link
        owner: root
        group: root
        mode: 0644
      notify: Reload Nginx
      tags: "nginx"

    - name: Removes "default" site
      file: 
        path: "/etc/nginx/sites-enabled/default" 
        state: absent
      notify: Reload Nginx
      tags: "nginx"
    
    # UFW Configuration
    - name: "UFW - Allow HTTP on port {{ http_port }}"
      ufw: 
        rule: allow 
        port: "{{ http_port }}" 
        proto: tcp
      tags: "ufw"
    
    - name: "UFW - Allow HTTPS on port {{ https_port }}"
      ufw: 
        rule: allow 
        port: "{{ https_port }}" 
        proto: tcp
      tags: "ufw"

    - name: "UFW - Allow SSH on port {{ ssh_port }}"
      ufw: 
        rule: allow 
        port: "{{ ssh_port }}" 
        proto: tcp
      tags: "ufw"

    # Wordpress Installation
    # var/www/grimordal/wordpress
    - name: Download WordPress
      get_url: 
        url: https://wordpress.org/latest.tar.gz 
        dest: /tmp/wordpress.tar.gz 
        validate_certs: no
      tags: "wordpress-installation"
    
    - name: Create a directory if it does not exist
      file:
        path: "{{ wp_site_path }}"
        state: directory
        owner: www-data
        group : www-data
        recurse: yes

    - name: Extract WordPress
      unarchive:
        src: /tmp/wordpress.tar.gz 
        dest: "{{ wp_site_path }}"
        copy: no
      become: yes
      tags: "wordpress-installation"

    - name: Remove wordpress.tar.gz
      file: 
        path: /tmp/wordpress.tar.gz 
        state: absent

    - name: Copy config file
      template: 
        src: "files/wp-config.php.j2" 
        dest: "{{ wp_site_path }}/wordpress/wp-config.php"
        owner: www-data
        group: www-data
        backup: true 
      tags: "wordpress-installation"
    
    - name: Change ownership of installation directory
      file: 
        path: "{{ wp_site_path }}/wordpress/"
        owner: www-data 
        group: www-data 
        state: directory 
        recurse: yes
      tags: "wordpress-installation"

    - name: Change ownership of wp-content directory
      file: 
        path: "{{ wp_site_path }}/wordpress/wp-content/"
        owner: www-data 
        group: www-data 
        mode: 775 
        state: directory 
        recurse: yes
      tags: "wordpress-installation"

  handlers:
    - name: Reload Nginx
      service:
        name: nginx
        state: reloaded
    
    - name: Restart Nginx
      service:
        name: nginx
        state: restarted
